apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../base

images:
  - name: registry.fullstack.pw/library/cks-backend
    newTag: a47b6c5260ee368aa8bedaa166c4de0230462006

patches:
  - patch: |-
      - op: replace
        path: /spec/hosts/0
        value: "api.cks.fullstack.pw"
    target:
      kind: VirtualService
      name: cks-backend
  - patch: |-
      - op: remove
        path: /spec/strategy/blueGreen/prePromotionAnalysis
    target:
      kind: Rollout
      name: cks-backend
  - patch: |-
      - op: remove
        path: /spec/strategy/blueGreen/postPromotionAnalysis
    target:
      kind: Rollout
      name: cks-backend
  - patch: |-
      - op: replace
        path: /data/ENVIRONMENT
        value: "prod"
      - op: replace
        path: /data/LOG_LEVEL
        value: "DEBUG"
    target:
      kind: ConfigMap
      name: cks-backend
configMapGenerator:
  - name: cks-backend-config
    behavior: merge
    envs:
      - configmap
