apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../base

images:
  - name: registry.fullstack.pw/library/cks-backend
    newTag: d386ba33c3295d2035be8467e07994c8415d8092

configMapGenerator:
  - name: cks-backend-config
    behavior: merge
    envs:
      - configmap
