apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../base

images:
  - name: registry.fullstack.pw/library/cks-backend
    newTag: d49d839678442afd57d3c9e969b0e788f08d2b6a

configMapGenerator:
  - name: cks-backend-config
    behavior: merge
    envs:
      - configmap
