apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../base

images:
  - name: registry.fullstack.pw/library/cks-backend
    newTag: 862c5e6e997dcbe0be5c1b8844461cc679548bc1

configMapGenerator:
  - name: cks-backend-config
    behavior: merge
    envs:
      - configmap
