apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../base

images:
  - name: registry.fullstack.pw/library/cks-backend
    newTag: dbae86fd570307eec351777c29939db7afd6850f

configMapGenerator:
  - name: cks-backend-config
    behavior: merge
    envs:
      - configmap
