apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../base

images:
  - name: registry.fullstack.pw/library/cks-backend
    newTag: 383ef342906c75de097394a3a3f3382b13ba3cc6

configMapGenerator:
  - name: cks-backend-config
    behavior: merge
    envs:
      - configmap
