apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../base

images:
  - name: registry.fullstack.pw/library/cks-backend
    newTag: 104bdbda21bdbeb58fde0c307290a9269aa1fee6

configMapGenerator:
  - name: cks-backend-config
    behavior: merge
    envs:
      - configmap
