apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../base

images:
  - name: registry.fullstack.pw/library/cks-backend
    newTag: faf94e05267d143c4d1272ade92eb6ba5fc421e0

configMapGenerator:
  - name: cks-backend-config
    behavior: merge
    envs:
      - configmap
