apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../base

images:
  - name: registry.fullstack.pw/library/cks-backend
    newTag: c46ad0be3985d17586801331d6d3ebee24fe2cc6

configMapGenerator:
  - name: cks-backend-config
    behavior: merge
    envs:
      - configmap
