apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../base

images:
  - name: registry.fullstack.pw/library/cks-backend
    newTag: 2a259af37ebe4b46c07fc0480d9314ee34731d5c

configMapGenerator:
  - name: cks-backend-config
    behavior: merge
    envs:
      - configmap
