apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../base

images:
  - name: registry.fullstack.pw/library/cks-backend
    newTag: e3c184891ec620f4399c9bed1c9d0ca312a2d193

configMapGenerator:
  - name: cks-backend-config
    behavior: merge
    envs:
      - configmap
