apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../base

images:
  - name: registry.fullstack.pw/library/cks-backend
    newTag: 97917e721106d3c18e60df288f42fe7ac7a471fc

configMapGenerator:
  - name: cks-backend-config
    behavior: merge
    envs:
      - configmap
