apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../base

images:
  - name: registry.fullstack.pw/library/cks-backend
    newTag: e9ff36c34f61d961155c5cac388e1e42f5d73bfe

configMapGenerator:
  - name: cks-backend-config
    behavior: merge
    envs:
      - configmap
