apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../base

images:
  - name: registry.fullstack.pw/library/cks-backend
    newTag: v1.0.0

configMapGenerator:
  - name: cks-backend-config
    behavior: merge
    envs:
      - configmap
