apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../base

images:
  - name: registry.fullstack.pw/library/cks-backend
    newTag: 1e219a4590d203d90ed259b325a5b18b1493c788

configMapGenerator:
  - name: cks-backend-config
    behavior: merge
    envs:
      - configmap
