apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../base

images:
  - name: registry.fullstack.pw/library/cks-backend
    newTag: 49fee45bf6a29fd9c02c141f2fc6074c97c13aaa

configMapGenerator:
  - name: cks-backend-config
    behavior: merge
    envs:
      - configmap
